In [ ]:
"""
Dataset:  Iris  Dataset
Load Data and Write script to perform operations.
"""

In [39]:
import pandas as pd
df=pd.read_csv(r"C:\Users\DRG\Downloads\datasets\iris.data.csv")

In [40]:
print(df)

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [41]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

1.	Display structure and summary report.

In [42]:
df.tail()

     5.1  3.5  1.4  0.2     Iris-setosa
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

In [43]:
df.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [44]:
df.describe(include='all')

               5.1         3.5         1.4         0.2      Iris-setosa
count   149.000000  149.000000  149.000000  149.000000              149
unique         NaN         NaN         NaN         NaN                3
top            NaN         NaN         NaN         NaN  Iris-versicolor
freq           NaN         NaN         NaN         NaN               50
mean      5.848322    3.051007    3.774497    1.205369              NaN
std       0.828594    0.433499    1.759651    0.761292              NaN
min       4.300000    2.000000    1.000000    0.100000              NaN
25%       5.100000    2.800000    1.600000    0.300000              NaN
50%       5.800000    3.000000    4.400000    1.300000              NaN
75%       6.400000    3.300000    5.100000    1.800000              NaN
max       7.900000    4.400000    6.900000    2.500000              NaN

In [45]:
df.shape

(149, 5)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   5.1          149 non-null    float64
 1   3.5          149 non-null    float64
 2   1.4          149 non-null    float64
 3   0.2          149 non-null    float64
 4   Iris-setosa  149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

2.	Check data types of each column and ensure whether the data types for each of the attributes are appropriate, 
if not make appropriate corrections.

In [47]:
df.dtypes

5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

Select specific columns

In [48]:
df["5.1"]

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: 5.1, Length: 149, dtype: float64

In [49]:
df["Iris-setosa"]

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
144    Iris-virginica
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
Name: Iris-setosa, Length: 149, dtype: object

Display NULL values for each of the columns

In [50]:
df.isnull().sum()

5.1            0
3.5            0
1.4            0
0.2            0
Iris-setosa    0
dtype: int64

Sorting values

In [51]:
df.sort_values('5.1')

     5.1  3.5  1.4  0.2     Iris-setosa
12   4.3  3.0  1.1  0.1     Iris-setosa
41   4.4  3.2  1.3  0.2     Iris-setosa
37   4.4  3.0  1.3  0.2     Iris-setosa
7    4.4  2.9  1.4  0.2     Iris-setosa
40   4.5  2.3  1.3  0.3     Iris-setosa
..   ...  ...  ...  ...             ...
117  7.7  2.6  6.9  2.3  Iris-virginica
116  7.7  3.8  6.7  2.2  Iris-virginica
121  7.7  2.8  6.7  2.0  Iris-virginica
134  7.7  3.0  6.1  2.3  Iris-virginica
130  7.9  3.8  6.4  2.0  Iris-virginica

[149 rows x 5 columns]

In [52]:
df.sort_values("5.1",ascending=False)

     5.1  3.5  1.4  0.2     Iris-setosa
130  7.9  3.8  6.4  2.0  Iris-virginica
134  7.7  3.0  6.1  2.3  Iris-virginica
121  7.7  2.8  6.7  2.0  Iris-virginica
116  7.7  3.8  6.7  2.2  Iris-virginica
117  7.7  2.6  6.9  2.3  Iris-virginica
..   ...  ...  ...  ...             ...
40   4.5  2.3  1.3  0.3     Iris-setosa
7    4.4  2.9  1.4  0.2     Iris-setosa
41   4.4  3.2  1.3  0.2     Iris-setosa
37   4.4  3.0  1.3  0.2     Iris-setosa
12   4.3  3.0  1.1  0.1     Iris-setosa

[149 rows x 5 columns]

modifying columns

In [ ]:
#df['5.1']=df['5.1']+00
#df['5.1']

Remoing duplicates

In [54]:
df=df.drop_duplicates()